@require "config/colors.styl"
@require "menu.styl"
@require "button.styl"

*
  font-family: 'Ubuntu', sans-serif
  font-weight: 400

a
  text-decoration: none
  color: inherit
  &:hover
    color: inherit
    text-decoration: none
  &:active
    color: inherit
