<nav class="navbar navbar-expand-lg scrolling-navbar main-menu">
    <a href="#" class="navbar-brand">Upmusic</a> 
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownBtn">
          <h6 class="dropdown-header">Adding</h6>
          <div class="dropdown-item">
            <a href="#">Add music</a>
          </div>
        </div>
      </li>
    </ul>
    <img src="avatar_thumb.png" alt="image not loaded">
</nav>

